rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /user_exports/{docid} {
      allow read, write: if docid == request.auth.uid && request.auth.token.email_verified
    }
  }
}
